<!DOCTYPE html
  PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
        <title>Employee Directory - Brookhaven College Employee Intranet</title>
        
        <!-- sitewide stylesheets -->
        <link rel="stylesheet" type="text/css" href="http://intranet.dcccd.edu/intranet/dcccd/bhc/chatter/css/base.css">
        <link rel="stylesheet" type="text/css" href="http://intranet.dcccd.edu/intranet/dcccd/bhc/chatter/css/header-footer.css">
        
        <!-- staff directory stylesheet -->
        <link rel="stylesheet" type="text/css" href="css/staff-directory.css">
        
        <meta http-equiv="imagetoolbar" content="no">
        <meta http-equiv="Pragma" content="no-cache">
    </head>
    <body class="with-sidebar">
        <div id="sitewide-header"><a name="top" id="top"></a><h1><a href="http://www.BrookhavenCollege.edu/"><img src="/images/bhc/sitewide/logo+wordmks/bhcwdmrk04.gif" alt="Brookhaven College" border="0" width="227" height="37"></a></h1>
        </div>
        <hr>
       
        <div id="sitewide-nav">
            <a href="/intranet/dcccd/bhc/">Intranet Home Page</a>&nbsp;&nbsp;|&nbsp;
            <a href="/intranet/dcccd/bhc/mission.html">Mission</a>&nbsp;&nbsp;|&nbsp;
            <a href="/intranet/dcccd/bhc/cal.html">Calendars</a>&nbsp;&nbsp;|&nbsp;
            <a href="/intranet/dcccd/bhc/onepg04intro.html">Planning</a>&nbsp;&nbsp;|&nbsp;
            <a href="/intranet/dcccd/bhc/chatter/chat.html">Courtyard&nbsp;Chatter</a>&nbsp;&nbsp;|&nbsp;
            <a href="/intranet/dcccd/bhc/resource/reso.html">Resources</a>&nbsp;&nbsp;|&nbsp;
            <a href="/intranet/bhc/sdir/sdir.html">Directories</a>&nbsp;&nbsp;|&nbsp;
            <a href="/intranet/dcccd/bhc/emp_inclementweather.html">Emergencies&nbsp;&amp;&nbsp;Bad&nbsp;Weather</a>&nbsp;&nbsp;|&nbsp;
            <a href="http://dsc3.dcccd.edu/intranet/dcccd/" target="_blank">DCCCD&nbsp;Intranet</a></div>
        <hr>
        
        <!-- include the subnavigation -->
        <div id="sitewide-subnav">
            <a href="/intranet/dcccd/bhc/resource/emergenc.html">Medical Emergency Procedures</a>&nbsp;&nbsp;|&nbsp; 
            <a href="/intranet/dcccd/bhc/ferpa/">FERPA Training</a>&nbsp;&nbsp;|&nbsp; 
            <a href="/intranet/dcccd/bhc/hazmat/sld001.htm">HazMat Training</a>&nbsp;&nbsp;|&nbsp; 
            <a href="http://www.BrookhavenCollege.edu/profdev/">Professional Development</a>&nbsp;&nbsp;|&nbsp; 
            <a href="/intranet/dcccd/bhc/#planning">Calendars</a>&nbsp;&nbsp;|&nbsp; 
            <a href="http://www.BrookhavenCollege.edu/sacs/sacs.html">SACS Self-Study</a></div>
        <hr />
        
        <div id="channel-header">
            <h1>Employee Directory</h1>
        </div>
        
        <div id="page-container">
            <div id="page-header">
                <div id="breadcrumbs">
                    <a href="/intranet/dcccd/bhc/">Home</a>&nbsp;&nbsp;&raquo;&nbsp;
                    <a class="selected">Employee Directory</a>
                </div>
                <h1>Directory Index</h1>
            </div>
        
            <div id="page-content">
                <div class="alphabetical-index">
                    <a href="sdir_a.html">A</a>&nbsp;
                    <a href="sdir_b.html">B</a>&nbsp;
                    <a href="sdir_c.html">C</a>&nbsp;
                    <a href="sdir_d.html">D</a>&nbsp;
                    <a href="sdir_e.html">E</a>&nbsp;
                    <a href="sdir_f.html">F</a>&nbsp;
                    <a href="sdir_g.html">G</a>&nbsp;
                    <a href="sdir_h.html">H</a>&nbsp;
                    <a href="sdir_i.html">I</a>&nbsp;
                    <a href="sdir_j.html">J</a>&nbsp;
                    <a href="sdir_k.html">K</a>&nbsp;
                    <a href="sdir_l.html">L</a>&nbsp;
                    <a href="sdir_m.html">M</a>&nbsp;
                    <a href="sdir_n.html">N</a>&nbsp;
                    <a href="sdir_o.html">O</a>&nbsp;
                    <a href="sdir_p.html">P</a>&nbsp;
                    <a href="sdir_q.html">Q</a>&nbsp;
                    <a href="sdir_r.html">R</a>&nbsp;
                    <a href="sdir_s.html">S</a>&nbsp;
                    <a href="sdir_t.html">T</a>&nbsp;
                    <a href="sdir_u.html">U</a>&nbsp;
                    <a href="sdir_v.html">V</a>&nbsp;
                    <a href="sdir_w.html">W</a>&nbsp;
                    <a href="sdir_x.html">X</a>&nbsp;
                    <a href="sdir_y.html">Y</a>&nbsp;
                    <a href="sdir_z.html">Z</a>&nbsp;
                </div>
                    
                    
                <p>The Brookhaven College Staff Directory contains listings for all full-time
                administrators, faculty and staff members. The directory is restricted to Brookhaven
                College employees who have active log-in IDs and passwords.  To update your
                information or make an appointment to have a new photo taken, <a href="mailto:ssarles@dcccd.edu">please submit an email</a>
                with your updated information.</p>
                                    
                    
                <div class="alphabetical-index">
                    <a href="sdir_a.html">A</a>&nbsp;
                    <a href="sdir_b.html">B</a>&nbsp;
                    <a href="sdir_c.html">C</a>&nbsp;
                    <a href="sdir_d.html">D</a>&nbsp;
                    <a href="sdir_e.html">E</a>&nbsp;
                    <a href="sdir_f.html">F</a>&nbsp;
                    <a href="sdir_g.html">G</a>&nbsp;
                    <a href="sdir_h.html">H</a>&nbsp;
                    <a href="sdir_i.html">I</a>&nbsp;
                    <a href="sdir_j.html">J</a>&nbsp;
                    <a href="sdir_k.html">K</a>&nbsp;
                    <a href="sdir_l.html">L</a>&nbsp;
                    <a href="sdir_m.html">M</a>&nbsp;
                    <a href="sdir_n.html">N</a>&nbsp;
                    <a href="sdir_o.html">O</a>&nbsp;
                    <a href="sdir_p.html">P</a>&nbsp;
                    <a href="sdir_q.html">Q</a>&nbsp;
                    <a href="sdir_r.html">R</a>&nbsp;
                    <a href="sdir_s.html">S</a>&nbsp;
                    <a href="sdir_t.html">T</a>&nbsp;
                    <a href="sdir_u.html">U</a>&nbsp;
                    <a href="sdir_v.html">V</a>&nbsp;
                    <a href="sdir_w.html">W</a>&nbsp;
                    <a href="sdir_x.html">X</a>&nbsp;
                    <a href="sdir_y.html">Y</a>&nbsp;
                    <a href="sdir_z.html">Z</a>&nbsp;
                </div>
            </div>
        </div>
        <hr>
        
        
        <div id="sidebar">
            <ul>
                <li><a href="/intranet/dcccd/bhc/">Brookhaven College Employee Intranet</a></li>
                <li><a href="/intranet/dcccd/bhc/#planning">Calendars</a></li>
                <li><a href="/intranet/dcccd/bhc/mission.html">College Mission</a></li>
                <li><a href="/intranet/dcccd/bhc/chatter/chat.html"><i>Courtyard Chatter</i></a></li>
                <li><a href="/intranet/bhc/sdir/sdir.html">Employee Directory</a></li>
                <li><a href="/intranet/dcccd/bhc/ferpa/">FERPA Training</a></li>
                <li><a href="/intranet/dcccd/bhc/hazmat/sld001.htm">HazMat Training</a></li>
                <li><a href="/intranet/dcccd/bhc/emp_inclementweather.html">Inclement Weather Hotline Procedures</a></li>
                <li><a href="/intranet/dcccd/bhc/resource/emergenc.html">Medical Emergency Procedures</a></li>
        		<li><a href="/intranet/dcccd/bhc/onepg04intro.html">One-page Plan</a></li>
                <li><a href="http://www.BrookhavenCollege.edu/profdev/">Professional Development</a></li>
        		<li><a href="https://www1.dcccd.edu/bhc/bhc_quickcall/index.cfm" target="_blank">Quick Call Roster</a></li>
                <li><a href="/intranet/dcccd/bhc/">Resources</a></li>
                <li><a href="http://www.BrookhavenCollege.edu/sacs/sacs.html">SACS Self-Study</a></li>
                <li><a href="http://www.brookhavencollege.edu/" target="_blank">Brookhaven College Home Page</a></li>
                <li><a href="http://dsc3.dcccd.edu/intranet/dcccd/" target="_blank">DCCCD Employee Intranet</a></li>
                <li><a href="http://www.dcccd.edu/Employees/" target="_blank">DCCCD Employee Channel</a></li>
            </ul>
        </div>
        
        
        <hr>
        <div id="sitewide-footer">
            <p>
                <a href="http://www.dcccd.edu/" target="_blank">Dallas County Community College District</a>&nbsp;&nbsp;|&nbsp;
                <a href="http://www.brookhavencollege.edu/" target="_blank">Brookhaven College Home Page</a>&nbsp;&nbsp;|&nbsp;
                <a href="http://www.brookhavencollege.edu/AtoZ/" target="_blank">A-Z Index</a>
            </p>
            <p>Comments/questions about this site, e-mail the Brookhaven College <a href="mailto:MonicaT@dcccd.edu">Marketing and Public Information Office</a>
            or call 972-860-4700.</p>
            <p>Brookhaven College main campus: 3939 Valley View Lane, Farmers Branch, Dallas, TX&nbsp; 75244-4997 | Telephone: 972-860-4700</p>
            <p>Page modified Dec. 19, 2005.</p>
        </div>
    </body>
</html>