<?xml version="1.0" encoding="us-ascii"?>
<mappings>
    <mapping type="subject">

        <!-- Business Studies (Linda Hughes)
            ======================================================================== -->
            
        <!-- CIT (Bill Hammerschlag)
            ======================================================================== -->
            
        <subject name="Computer Information Technology">
            <topic name="Introduction to Computing">
                <comments>NOTE:  ITSC 1401 is a career technical education course required for certain certificate and associate degree plans.  It will not meet the Brookhaven College Core Curriculum and/or Associate in Arts or Associate in Science requirement and is not for transfer to a four-year school.</comments>
            </topic>
            <topic name="Cit Core">
            </topic>
            <topic name="Cit General Electives">
            </topic>
            <topic name="Open Source Software">
            </topic>
            <topic name="Programming">
            </topic>
            <topic name="Microsoft Academy">
                <comments>NOTE:  Brookhaven College is a Microsoft IT Academy and offers courses preparing students to take and pass Microsoft certification tests and to fulfill the requirements for a Networking Administration and Support AAS for a Microsoft Certified Systems Administrator - MCSA, a Microsoft Certified Systems Engineer  - MCSE, and a Microsoft Certified Database Administrator MCDBA. For additional information, call 972-860-4721.</comments>
            </topic>
            <topic name="Unix">
            </topic>
            <topic name="Cisco Academy">
            </topic>
            <topic name="Information Security">
            </topic>
            <topic name="Web Development and E-commerce">
            </topic>
            <topic name="Application Software">
            </topic>
        </subject>
        
        <subject name="Computer Science">
            <topic name="Computer Literacy">
                <comments>NOTE:  COSC 1300 will meet the Core Curriculum and/or Associate in Arts or Associate in Science requirement and may be used for transfer to a four-year school.</comments>
            </topic>
            <topic name="Programming">
            </topic>
            
            <!-- Senior Adult classes that will be yanked before this subject is processed -->
            <topic name="Senior Adult Computer Classes">
            </topic>
        </subject>
        <subject name="Computer Studies - Business Computer Information Systems">
            <comments>NOTE:  BCIS courses are for those students wishing to take transferable courses in CIS/CIT. BCIS courses may be substituted for comparable courses in CIT degree programs.</comments>
            <topic name="General Electives">
            </topic>
        </subject>
        
        
        <!-- Management Program (Mary Lou Avera and Marisa Walsdorf)
            ======================================================================== -->
            <subject name="Management Program">
            <comments>NOTE: Complete two courses one night per week. Be mentored by full-time business faculty. Class format includes small-group discussions and networking with other employed professionals.   Students taking management co-op courses at Brookhaven College for the first time must receive advisement from their faculty member before they register. Contact Mary Lou Avera, 972-860-4179, marylou@dcccd.edu; or Marisa Walsdorf 972-860-4186, mWalsdorf@dcccd.edu.  Visit us online at   www.BrookhavenCollege.edu/management.</comments>
            </subject>
                
        
        <!-- Coordinated Studies (Resi Douglas)
            ========================================================================
            <subject name="Coordinated Studies">
            <comments>
            <h1>AMERICA AT THE CROSSROADS</h1>
            <p>The coordinated studies courses meet Monday through Thursday from 9-11:50 a.m. in Room T303</p>
            <p>The program is a 12-credit-hour block of choices from <b>CORE CURRICULUM COURSES</b>, interrelated by the theme <b>"America at the Crossroads."</b>  </p>
            <p>Students will hear diverse perspectives related to their course work from four different instructors. This learning community emphasizes interactive learning activities, community building and team work.  Through coordinating ideas students will develop critical thinking skills.  This program includes readings from popular sources.  The four program professors together meet with the entire group daily, so student-teacher interaction is enhanced. </p>
            <p>Enrollment is limited to 90 students, so a true learning community is formed.  </p>
            <p><b>To register for the Coordinated Studies Program, see an advisor in the Brookhaven College Advising and Counseling Center, Bldg. S, Room S113.</b></p>
            <p><b>Choose four courses from the following list:</b></p>
            <table margin="5" border="2" cellpadding="10" cellspacing="0">
            <tr>
            <td>Cultural Studies</td>
            <td>CUST 2370</td>
            </tr>
            <tr>
            <td>English Composition I OR II</td>
            <td>ENGL 1301 OR ENGL 1302*</td>
            </tr>
            <tr>
            <td>American Government</td>
            <td>GOVT 2302</td>
            </tr>
            <tr>
            <td>Introduction to Comparative Politics</td>
            <td>GOVT 2371</td>
            </tr>
            <tr>
            <td>History of the U.S.</td>
            <td>HIST 1302</td>
            </tr>
            <tr>
            <td>Ethics</td>
            <td>PHIL 2306</td>
            </tr>      
            <tr>
            <td>Introduction to Speech OR Fundamentals of Public Speaking</td>
            <td>SPCH 1311 OR SPCH 1315**</td>
            </tr>
            </table>
            <p>*Students will need to choose between ENGL 1301 and 1302 as per prerequisites.</p>
            <p>** Students should be advised to choose between SPCH 1311 and 1315 based on their degree requirement.</p>
            <p>Students should take their paid registration summary to the first day of class. For more information, please contact Delryn Fleming at 972-860-4772 or e-mail Delryn@dcccd.edu.</p>
            </comments>
            <pattern match="ALCE" />
            </subject> -->
        
        <!-- * These are the courses that should have coordinated studies subheads. 
            They are sloppily out of any kind of order, but I don't think it matters.
            <subject name="English">
            <topic name="Coordinated Studies">
            <pattern match="ENGL 1301-2050" />
            <pattern match="ENGL 1302-2050" />
            </topic>
            </subject>
            
            <subject name="Speech">
            <topic name="Coordinated Studies">
            <pattern match="SPCH 1311-2050" />
            <pattern match="SPCH 1315-2050" />
            </topic>
            </subject>
            
            <subject name="Government">
            <topic name="Coordinated Studies">
            <pattern match="GOVT 2302-2050" /> fixed 10/2 - said 2301
            <pattern match="GOVT 2371-2050" />
            </topic>
            </subject>
            
            <subject name="Philosophy">
            <topic name="Coordinated Studies">
            <pattern match="PHIL 2306-2050" />
            </topic>
            </subject>-->
            

            <!--
            <subject name="History">
            <topic name="Coordinated Studies">
            <pattern match="HIST 1302-2050" />
            </topic>
            </subject> -->
            
            
        <!-- Health and Human Services (Monica Wenthold)
            ======================================================================== -->        
        <!-- Emergency Medical Services (Debra Cox)
            ======================================================================== -->
        <subject name="Emergency Medical Services">
            <comments>
                <p>NOTE: Clinical opportunities are not available for any student without a U.S. Social Security number, http://www.ssa.gov/ssnumber/.  Potential applicants should obtain a Social Security number before applying to Brookhaven College's health programs in Emergency Medical Services, Nursing and Radiologic Sciences.  International students are advised to contact the Brookhaven College Multicultural Center, Room S136, bhcMulticulturalCenter@dcccd.edu, 972-860-4192, concerning  this requirement.</p>
                <p>NOTE: All EMS classes meet at the Brookhaven College East Center 2 located at the northeast corner of Midway and Alpha Roads, 13614 Midway Road.</p>
                <p>NOTE: If financial aid or veterans benefits are paying for your courses, you must enroll for all courses at the beginning of the term. </p>
                <p>NOTE: All EMS courses require CPR certification for infant, child and adult.  This is the Healthcare Provider level by the American Heart Association or Professional Rescuer by the American Red Cross.  Students can register for the EMS course without having a current CPR card, but must be CPR certified by the mandatory orientation day.</p>
            </comments>
            <topic name="Emergency Medical Services, Basic">
                <subtopic name="EMT-Basic Class #49, B-Shift">
                </subtopic>
                <subtopic name="EMT-Basic Class #51">
                </subtopic>  
                <subtopic name="EMT-Basic Class #50">
                </subtopic>  
            </topic>
            <topic name="Emergency Medical Services,  Paramedic">
                <subtopic name="Paramedic Class #20, B-Shift">
                </subtopic>
                <subtopic name="Paramedic Class #21, C-Shift">
                </subtopic>
                <subtopic name="Paramedic Class #23, A-Shift">
                </subtopic>				
                <subtopic name="Paramedic Class #22">
                </subtopic>
                <subtopic name="Mass Disaster Response, B-Shift">
                </subtopic>
            </topic>
        </subject>
        
        
        <!-- =======================================================================
            Nursing (Ann Cortez and Monica Wenthold as backup)
            ======================================================================== -->
        <subject name="Nursing">
            <comments>Clinical opportunities are not available for any student without a U.S. Social Security number, http://www.ssa.gov/ssnumber/. Potential applicants should obtain a Social Security number before applying to Brookhaven College's health programs in Emergency Medical Services, Nursing and Radiologic Sciences. International students are advised to contact the Brookhaven College Multicultural Center Office, Room S136, bhcMulticulturalCenter@dcccd.edu, 972-860-4192, concerning this requirement.</comments>
            <topic name="none">
                <comments>NOTE: The following courses are available to anyone interested in the Nursing program. Acceptance into the program is NOT REQUIRED. For more information call 972-860-4754.</comments>
                <pattern match="HPRS 1203-2001" />
                <pattern match="RNSG 1108-2001" />
                <pattern match="RNSG 1211-2001" />
                <pattern match="RNSG 1301-2001" />
            </topic>
            <topic name="First Semester Program Students">
                <comments>NOTE: The following courses are for students in the first semester of the Nursing program. Acceptance into this program is REQUIRED.</comments>
                <pattern match="RNSG 1413-2001" />
                <pattern match="RNSG 1105-2001" />
                <pattern match="RNSG 1105-2002" />
                <pattern match="RNSG 1105-2003" />
                <pattern match="RNSG 1105-2004" />
                <pattern match="RNSG 1462-2261" />
                <pattern match="RNSG 1462-2262" />
                <pattern match="RNSG 1462-2263" />
                <pattern match="RNSG 1462-2264" />
            </topic>
            <topic name="Second Semester Program Students">
                <comments>NOTE: The following courses are for students in the third semester of the Nursing program. Acceptance into this program is REQUIRED.</comments>
                <pattern match="RNSG 1441-2001" /> <!-- added 2008-10-31 -->
                <pattern match="RNSG 1441-2201" />
                <pattern match="RNSG 2213-2201" />
                <pattern match="RNSG 1144-2001" />
                <pattern match="RNSG 1144-2002" />
                <pattern match="RNSG 1144-2003" />
                <pattern match="RNSG 1144-2004" />
                <pattern match="RNSG 1160-2261" />
                <pattern match="RNSG 1160-2262" />
                <pattern match="RNSG 1160-2263" />
                <pattern match="RNSG 1160-2264" />
                <pattern match="RNSG 2462-2261" />
                <pattern match="RNSG 2462-2262" />
                <pattern match="RNSG 2462-2263" />
                <pattern match="RNSG 2462-2264" />
            </topic>
            <topic name="Fourth Semester Program Students">
                <comments>NOTE: The following courses are for students in the first semester of the Nursing program. Acceptance into this program is REQUIRED.</comments>
                <pattern match="RNSG 1443-2001" />
                <pattern match="RNSG 2560-2261" />
                <pattern match="RNSG 2560-2262" />
                <pattern match="RNSG 2560-2263" />
                <pattern match="RNSG 2560-2264" />
                <pattern match="RNSG 2461-226[1-4]" /> <!-- added 2008-10-31 -->
            </topic>		
        </subject>
        

        <!-- =======================================================================
            Radiologic Sciences (Christi Carter and Monica Wenthold)
            ======================================================================== -->
        <subject name="Radiologic Sciences">
            <comments>NOTE: Clinical opportunities are not available for any student without a U.S. Social Security number, http://www.ssa.gov/ssnumber/. Potential applicants should obtain a Social Security number before applying to Brookhaven College's health programs in Emergency Medical Services, Nursing and Radiologic Sciences. International students are advised to contact the Brookhaven College Multicultural Center Office, Room S136, bhcMulticulturalCenter@dcccd.edu, 972-860-4192, concerning this requirement.</comments>
            <topic name="None">
                <comments>NOTE: The following courses are available to anyone interested in the Radiologic Sciences Program. Acceptance into the program is NOT REQUIRED.  For more information call Christi Carter at 972-860-4285.</comments>
                <pattern match="RADR 1201" />
            </topic>
            <topic name="First Semester Program Students">
            	<comments>NOTE:  The following courses are for students in the first semester of the Radiologic Sciences Program.  Acceptance into this program is REQUIRED.  For more information call Christi Carter at 972-860-4285.</comments>
                <pattern match="RADR 1411" />
                <pattern match="RADR 2309" />
                <pattern match="RADR 1203" />
            </topic>
            <topic name="Fourth Semester Program Students">
            	<comments>The following courses are for students in the fourth semester of the Radiologic Sciences Program.  Acceptance into this program is REQUIRED.  For more information call Christi Carter at 972-860-4285.</comments>
                <pattern match="RADR 1266" />
                <pattern match="RADR 1267" />
                <pattern match="RADR 1202" />
                <pattern match="RADR 2233" />
            </topic>
        </subject>
        
        
        

        
        <!-- School of the Arts (Jill Williams) -->
            ========================================================================
        <subject name="Art">
            <topic name="Problems In Contemporary Art">
            </topic>
            <topic name="Art Appreciation">
            </topic>
            <topic name="Art History">
            </topic>
            <topic name="Art and Computers">
            </topic>
            <topic name="Art Metals">
            </topic>
            <topic name="Ceramics">
            </topic>
            <topic name="Design">
            </topic>
            <topic name="Drawing">
            </topic>
            <topic name="Painting">
            </topic>
            <topic name="Photography">
            </topic>
            <topic name="Printmaking">
            </topic>
            <topic name="Sculpture">
            </topic>
            <topic name="Watercolor">
            </topic>            
            <topic name="December Winter Flex Term Printmaking Workshop">
            </topic>
        </subject>
        
        <subject name="Cultural Studies">
            <topic name="Coordinated Studies">
            </topic>
            <topic name="DECEMBER WINTER FLEX TERM">
            </topic>
        </subject>
                
        <subject name="Dance">
            <comments>Note:  For more information regarding dance courses, please call the Dance Department at 972-860-4122.  For dance courses above the beginning level, placement counseling with the Dance Department is required.</comments>
            <topic name="Dance Appreciation">
            </topic>
            <topic name="Body Conditioning">
            </topic>
            <topic name="Tap">
            </topic>
            <topic name="Dance Practicum">
            </topic>
            <topic name="Hip Hop">
            </topic>
            <topic name="Jazz">
            </topic>
            <topic name="Ballet">
            </topic>
            <topic name="Ballet Technique">
            </topic>
            <topic name="Modern Dance">
                <comments>NOTE:  Students must have had one semester of dance training for the following classes.</comments>
            </topic>
        </subject>
        
        <subject name="Drama">
            <topic name="Introduction to Theatre">
            </topic>
            <topic name="Film Appreciation">
            </topic>
            <topic name="Theatre Workshop">
            </topic>
            <topic name="Stagecraft">
            </topic>
            <topic name="Acting">
            </topic>
            <topic name="Rehearsal">
                <subtopic name="First Play, Spring 2009">
                </subtopic>
                <subtopic name="Second Play, Spring 2009">
                </subtopic>
                <subtopic name="Third Play, Spring 2009">
                </subtopic>
            </topic>
        </subject>
                
        <subject name="Humanities">
            <pattern match="HUMA 1302-2001" />
            <pattern match="HUMA 1315-2010" />
            <pattern match="HUMA 1311-2001" />
            <pattern match="HUMA 1315-2007" />
            <pattern match="HUMA 1315-2001" />
            <pattern match="HUMA 1315-2004" />
            <pattern match="HUMA 1315-2009" />
            <pattern match="HUMA 1315-2005" />
            <pattern match="HUMA 1315-2002" />
            <pattern match="HUMA 1315-2011" />
            <pattern match="HUMA 1315-2008" />
            <pattern match="HUMA 1315-2003" />
            <pattern match="HUMA 1315-2503" />
            <pattern match="HUMA 1315-2501" />
            <pattern match="HUMA 1315-2502" />
            <pattern match="HUMA 1315-2504" />
            <pattern match="HUMA 1315-2221" />
            <pattern match="HUMA 1315-2250" />
            <pattern match="HUMA 1315-2400" />
            <pattern match="HUMA 1315-2422" />
            <pattern match="HUMA 1315-2423" />
            <pattern match="HUMA 1315-2424" />
            <pattern match="HUMA 1315-2425" />
            <pattern match="HUMA 1315-2426" />
            <pattern match="HUMA 1315-2427" />
            <pattern match="HUMA 1315-2428" />
            <pattern match="HUMA 1315-2429" />
            <pattern match="HUMA 1315-2430" />
            <pattern match="HUMA 1315-2431" />
            <pattern match="HUMA 1315-2432" />

            <topic name="December Winter Flex Term">
            </topic>
        </subject>
                
        <subject name="Music">
            <topic name="Music Appreciation">
            </topic>
            <topic name="Music Theory">
            </topic>
            <topic name="Musicianship">
            </topic>
            <topic name="Music Literature">
            </topic>
            <topic name="Foundation of Music">
            </topic>
            <topic name="Composition">
            </topic>
            <topic name="Recital">
            </topic>
            <topic name="Digital">
            </topic>
            <topic name="Piano for Music Majors">
            </topic>
            <topic name="Piano for Non Music Majors">
            </topic>
            <topic name="Guitar">
            </topic>
            <topic name="Voice">
            </topic>
            <topic name="Music Ensembles">
                <subtopic name="Brookhaven Choral Society">
                </subtopic>
                <subtopic name="Windsong Vocal Ensemble">
                </subtopic>
                <subtopic name="Chamber Ensemble">
                </subtopic>
                <subtopic name="Mariachi Band Ensemble">
                </subtopic>                
                <subtopic name="Flute Ensemble">
                </subtopic>
                <subtopic name="Guitar Ensemble">
                </subtopic>
                <subtopic name="Handbell Ensemble">
                </subtopic>
                <subtopic name="Keyboard Ensemble">
                </subtopic>
                <subtopic name="String Ensemble">
                </subtopic>
                <subtopic name="Vocal Jazz / Lab Band">
                </subtopic>
            </topic>
            <topic name="Music-private Lessons">
                <subtopic name="Beginning">
                    <comments>Note:  These courses are private lesson courses, by audition only.  Students are required to audition in advance to be placed at the correct level.  An accompanist fee may be required.  Enrollment in a music ensemble is required for all students who are accepted into private lesson courses.  Please call the Music Office at 972-860-4102 for more information.</comments>
                </subtopic>
            </topic>
            <topic name="Music-private Lessons">
                <subtopic name="Intermediate">
                    <comments>Note:  These courses are private lesson courses, by audition only.  Students must audition in advance.  An accompanist fee may be required.  Enrollment in core music major courses, including Theory, Musicianship, Piano Class and Recital (MUSI 9176) is MANDATORY for all students who are accepted into private lessons at this level.  Please call the Music Office at 972-860-4102 for more information.</comments>
                </subtopic>
            </topic>
            <topic name="Senior Adult Music Classes">
            </topic>
        </subject>
        


        
        <!-- World Languages (Joe Monroy)
            ======================================================================== -->
        <subject name="English for Speakers of Other Languages">
            <topic name="Listening/Speaking Level One">
                <pattern match="ESOL 0031" />
            </topic>
            <topic name="Listening/Speaking Level Two">
                <pattern match="ESOL 0032" />
            </topic>
            <topic name="Listening/Speaking Level Three">
                <pattern match="ESOL 0033" />
            </topic>
            <topic name="Listening/Speaking Level Four">
                <pattern match="ESOL 0034" />
            </topic>
            <topic name="Accent Reduction">
                <!-- this pattern needs to override the previous one, so it gets
                    a priority of 2 -->
                <pattern match="ESOL 0034-2020" priority="2" />
                <pattern match="ESOL 0034-2021" priority="2" />
            </topic>
            <topic name="Reading Level One">
                <pattern match="ESOL 0041" />
            </topic>
            <topic name="Reading Level Two">
                <pattern match="ESOL 0042" />
            </topic>
            <topic name="Reading Level Three">
                <pattern match="ESOL 0043" />
            </topic>
            <topic name="Reading Level Four">
                <pattern match="ESOL 0044" />
            </topic>
            <topic name="Writing and Grammar Level One">
                <pattern match="ESOL 00[56]1" />
            </topic>
            <topic name="Writing and Grammar Level Two">
                <pattern match="ESOL 00[56]2" />
            </topic>
            <topic name="Writing and Grammar Level Three">
                <pattern match="ESOL 00[56]3" />
            </topic>
            <topic name="Writing and Grammar Level Four">
                <pattern match="ESOL 00[56]4" />
            </topic>
            <topic name="Level One Intensive English Program">
                <pattern match="ESOL 0036" />
            </topic>
            <topic name="Level Two Intensive English Program">
                <pattern match="ESOL 0066" />
            </topic>
            <topic name="Level Three Intensive English Program">
                <pattern match="ESOL 0056" />
            </topic>
            <topic name="Level Four Intensive English Program">
                <pattern match="ESOL 0046" />
            </topic>
        </subject>
        
                
    </mapping>
</mappings>

