/* Unset the sitewide header's bottom border and margin */
div#sitewide-header {
	border: none;
	margin: 0;
}


body, td, th {
	font: 11px verdana;
	margin: 0px;
	padding: 0px;
}
th {
	font-weight: bold;
}

div#container {
	position: relative;
	background-color: #fff;
	background-image: url(/images/bhc/courslisting/cce/web-schedule/gray-background-fixed.gif);
	background-position: top left;
	background-repeat: repeat-y;
}
div#info {
	position: absolute;
	top: 0px;
	left: auto;
	width: 200px;
}
div#schedule, div#index {
	margin-left: 200px;
	padding-left: 1px;
}

div#header a:link, div#header a:visited {
	text-decoration: none;
	color: #000;
}
div#header a:hover { text-decoration: underline; }
div#container a:link, div#container a:visited {
	text-decoration: none;
	color: #933;
}
div#container a:hover { text-decoration: underline; }

div#header {
	margin: 0;
	margin-bottom: 1px;
}
div#header div#navigation {
	background-color: #EFFFDD;
	padding: 5px 10px;
	margin-bottom: 1px;
	border-top: 1px dashed #009e58;
	font-family: tahoma, arial, verdana, sans-serif;
}
div#header h1 {
	background-color: #009E58;
	padding: 10px 10px;
	margin: 0;
	
	color: #fff;
	font: 26px times;
	font-weight: normal;
}




div#schedule h2 {
	font: 26px times;
	font-weight: normal;
	background-color: #993333;
	color: #fff;
	margin: 0;
	margin-bottom: 1px;
	padding: 5px 10px;
}
div#schedule .catalog-page-header {
	font: 20px times;
	font-weight: normal;
	background-color: #c66;
	color: #fff;
	padding: 5px 10px;
	margin-top: 0;
	margin-bottom: 1px;
}
div#schedule .catalog-page-header p {
    margin: 0;
}
div#schedule div.catalog-prefix {
	padding: 10px;
	padding-bottom: 1px;
	font: 12px verdana;
	background-color: #ddd;
}
div#schedule div.catalog-prefix p {
	margin: 0;
	margin-bottom: 10px;
	line-height: 140%;
}


div.cluster {
}
div.cluster h3 {
	font: 16px arial;
	font-weight: bold;
	/* background-color: #EFFFDD; */
	background-color: #666;
	color: #fff;
	padding: 5px 10px;
	margin: 0;
	margin-bottom: 1px
}
div#schedule div.cluster div.catalog-page-header {
	font: 13px arial;
	font-weight: bold;
	background-color: #999;
}


div.course {
	margin: 20px;
}
.course h4 {
	font: 18px times;
	font-weight: normal;
	color: #007943;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}
.course .course-description {
    margin: 10px 0;
}
.course .course-description p {
    margin: 5px 0;
}
.course p {
	margin: 10px 0;
}
.course p.prerequisites {
	font-style: italic;
}
.course table {
	border: none;
	border-bottom: 1px solid #ccc;
}
.course th, .course td {
	background-color: #fff;
	text-align: left;
	vertical-align: top;
	font-size: 11px;
	font-family: arial;
	padding: 5px 10px;
	border: none;
}
.course th {
	border-bottom: 1px solid #ccc;
}
.course td {
	border-right: 1px solid #ccc;
}
.course td.last {
	border: none;
}
.course tr.even td {
	background-color: #eee;
}
.course tr.evening td {
	font-weight: bold;
}
.course p.suffix {
	
}
.course p.back-to-top {
	font-size: 10px;
}




div#info {
	background-color: #eee;
	padding-bottom: 20px;
}
div#info h3, div#info ul, div#info p, div#info table {
	padding: 0 10px;
}
div#info h3 {
	font: 16px arial;
	font-weight: bold;
	margin: 0;
	margin-top: 20px;
}
div#info ul {
	margin: 10px 20px;
	color: #999;
}
div#info li {
	padding: 2px 0px;
	margin: 0;
}
div#info th {
	text-align: right;
}
div#info td {
	text-align: left;
}
div#info td strong {
	display: block;
	text-align: center;
}



div#index h2 {
	font: 24px times, serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
div#index table td {
	vertical-align: top;
	width: 50%;
}
div#index ul {
	list-style-type: none;
	padding: 0;
	margin-left: 20px;
}
div#index ul li {
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
}

div#index ul li ul li {
	font: 11px verdana;
	padding: 0;
}



div#index div.index {
	padding: 20px;
}
div#index div.index div {
	padding: 10px;
	background-color: #eee;
	border: 1px solid #ccc;
}
div#index div.index span {
	color: #999;
}