div#channel-header {
    background-color: #006666;
}

div.alphabetical-index {
	font-size: 16px;
	font-weight: bold;
	padding: 10px 20px;
	margin: 1px 0;
	background-color: #eee;
	text-align: center;
}
div.alphabetical-index a, div.alphabetical-index a:link {
    text-decoration: none;
}
div.alphabetical-index a:hover {
    text-decoration: underline;
}




.employee {
	border-bottom: 1px solid #ddd;
	margin: 20px;
	padding-bottom: 20px;
}
.employee dl {
	margin: 0;
	padding: 0;
}
.employee dt {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 5px;
}
.employee dd {
	margin: 0;
	padding: 0;
}
.employee dd.title {
	font-style: italic;
	margin-bottom: 5px;
}
.employee dd.contact, .employee dd.email {
	font-size: 11px;
    margin: 0;
}

div.employee div.no-portrait {
	width: 91px;
	margin-right: 15px;
}
div.employee div.portrait {
	margin-right: 15px;
	padding: 5px;
	border: 1px solid #ccc;
}
div.employee img {
	display: block;
}



div.navigation {
	text-align: center;
	font-size: 16px;
	padding: 10px 0;
	margin-bottom: 10px;
}
div.navigation a {
	font-weight: bold;
}